# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
backend/app/node_modules/
frontend/react_sql_app/node_modules/
frontend/react_sql_app/build/
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


backend/app/config.py

backend/app/venv/
evn/
venv/
.venv/
frontend/react_sql_app/build/


backend/app/__pycache__/
backend/app/config.py/
backend/app/ai_preprocess_data/*.csv
predicted_numbers.csv
backend/app/ai_prediction/__pycache__/ai_predict_next_draw.cpython-311.pyc
backend/app/ai_preprocess_data/__pycache__/data_preprocess.cpython-311.pyc
backend/app/ai_prediction/__pycache__/plot.cpython-311.pyc
backend/app/utils/__pycache__/database.cpython-311.pyc
backend/app/ai_model_training/__pycache__/train_ai_model_Pipeline.cpython-311.pyc
backend/app/utils/__pycache__/database.cpython-311.pyc
backend/app/ai_preprocess_data/saved_training_data/*.csv
backend/app/ai_preprocess_data/saved_training_data/Pipeline/*.csv
feature_scaler.pkl
lottery_model.pkl

.env
docs/
backend/app/preprocess_data/saved_training_data/*.csv
backend/app/preprocess_data/__pycache__

backend/app/ai_preprocess_data/saved_training_data/feature_engineering_query_dev.sql
