.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: rgb(9, 231, 139);
  border: 2px solid rgb(148, 233, 78);
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: rgb(255, 255, 255);
  border: none;
  padding: 5px 15px 5px 15px;
  color: rgb(9, 143, 38);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  background: rgb(248, 51, 232);
  border: 1px solid #fdfcfc;
  color: #fdfcfc;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: rgb(252, 249, 252);
}

thead {
  flex: 0 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.margin-left {
  margin-left: 12px;
}

.margin-right {
  margin-right: 10px;
}

.navbar {
  position: sticky !important;
  top: 0;
  width: 100%;
  background-color: white; /* Ensure it's visible */
  z-index: 1000; /* Make sure it stays above other content */
  margin-bottom: 1px;
}

.my-color-1 {
  color: rgb(231, 137, 227);
}

.my-color-2 {
  color: rgb(16, 7, 66);
}

.my-color-3 {
  color: rgba(245, 9, 88, 0.616);
}

.my-color-4 {
  color: rgba(84, 29, 193, 0.616);
}
.my-color-5 {
  color: rgba(9, 61, 230, 0.616);
}

.bg-greenyellow {
  background-color: rgb(240, 222, 164) !important;
}

.bg-color1 {
  background-color: antiquewhite !important;
}

.bg-color2 {
  background-color: rgb(238, 243, 170) !important;
}

.bg-color3 {
  background-color: rgb(245, 217, 181) !important;
}

.bg-color4 {
  background-color: rgb(183, 236, 238) !important;
}

.bg-color5 {
  background-color: rgb(238, 160, 234) !important;
}

.bg-color6 {
  background-color: rgb(239, 248, 214) !important;
}

.bg-color7 {
  background-color: rgb(238, 185, 116) !important;
}

.bg-color8 {
  background-color: rgb(191, 240, 162) !important;
}

.bg-color9 {
  background-color: rgb(238, 243, 170) !important;
}

.bg-color10 {
  background-color: rgb(241, 203, 241) !important;
}

.bg-color11 {
  background-color: rgb(191, 240, 162) !important;
}

.bg-color12 {
  background-color: rgb(183, 236, 238) !important;
}

.bg-color13 {
  background-color: rgb(239, 248, 214) !important;
}

.bg-color14 {
  background-color: rgb(186, 218, 236) !important;
}

.bg-color15 {
  background-color: rgb(124, 219, 121) !important;
}

.bg-color16 {
  background-color: rgb(239, 248, 214) !important;
}

.bg-color17 {
  background-color: rgb(26, 228, 171) !important;
}

.bg-color18 {
  background-color: rgb(235, 198, 238) !important;
}

.bg-color19 {
  background-color: rgb(232, 238, 144) !important;
}

.bg-color20 {
  background-color: rgb(183, 236, 238) !important;
}

.bg-color21 {
  background-color: rgb(214, 238, 116) !important;
}

.bg-color22 {
  background-color: rgb(93, 231, 88) !important;
}

.bg-color23 {
  background-color: rgb(191, 243, 152) !important;
}

.bg-color24 {
  background-color: rgb(193, 233, 193) !important;
}

.bg-color25 {
  background-color: rgb(181, 233, 157) !important;
}
.bg-color26 {
  background-color: rgb(234, 243, 71) !important;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bg-color-ph {
  background-color: rgb(235, 197, 218) !important;
}

.noqII {
  padding: 0rem !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.row-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Optional: Align items vertically in the center */
}

.three-d-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: 2px solid rgb(218, 218, 227);
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 1s ease-in-out;
}

.three-d-button:hover {
  box-shadow: 0 0 10px rgba(243, 167, 167, 0.3);
}

.my-input {
  width: 200px; /* Adjust the width as needed */
  height: 40px; /* Set the height to resemble a scrollbar */
  padding: 0;
  margin: 0;
  border: 2px solid #ccc;
  overflow-y: scroll; /* Enable vertical scrolling */
  resize: none; /* Prevent resizing of the input */
}

.fs-7 {
  font-size: 12px;
}

.table-container {
  overflow-x: auto !important; /* Horizontal scrollbar when needed */
}

.dropdown-width {
  width: 300px;
}

.dropdown-width-2 {
  width: 200px;
}
.button-width {
  width: 100px;
}

.error {
  color: red;
  font-style: italic;
  text-align: left;
  font-weight: 100;
}

.general-error {
  color: red;
  font-style: italic;
  text-align: center;
  font-weight: 500;
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  gap: 1rem; /* Space between spinner and text */
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3; /* Light gray border */
  border-top: 5px solid #3498db; /* Blue top border for spin effect */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Continuous spin animation */
}

.wider-td {
  width: 160px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed; /* Keeps the loader fixed in the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: 9999; /* Ensures the loader is on top of other content */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Semi-transparent background */
}

.my-label {
  font-size: large;
  font-weight: 600;
  font-style: italic;
}

.sticky-header {
  position: "sticky";
  top: 0;
  background: "#fff";
  zindex: 1;
}

.adjust-container {
  display: flex;
  flex-direction: row; /* Align sliders horizontally */
  gap: 16px; /* Optional: adds spacing between sliders */
  align-items: center; /* Optional: vertically centers sliders if they have different heights */
}

.slider {
  width: 25%;
}

.markdown h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.markdown h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
.markdown p {
  margin: 0.5rem 0;
}

.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #b2ea6e;
  font-weight: bold;
}
