.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  padding: 1rem;
}

.slider-card {
  width: 100%;
  max-width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: green;
  margin-bottom: 1rem;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.slider-label label {
  color: #e2430e;
  font-weight: bolder;
}

.slider-input {
  width: 100%;
  height: 1rem;
  background-color: #e5e7eb;
  border-radius: 0.25rem;
  cursor: pointer;
  accent-color: #3b82f6;
}

.slider-range {
  display: flex;
  justify-content: space-between;
  color: #0fce42;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slider-tooltip {
  display: none;
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  top: -30px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

.slider-input:hover + .slider-tooltip {
  display: block; /* Optional: Fallback for when JavaScript is disabled */
}

.adjust-container {
  justify-content: space-between;
}

.slider-value {
  color: #0fce42;
  font-size: 1.5rem;
  font-style: italic;
}
